<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- 开启扫描Dao层注解 -->
    <context:annotation-config/>
    <context:component-scan base-package="morning.cat.**"/>

    <!--<bean id="basicDataSource" class="org.apache.commons.dbcp.BasicDataSource">-->
        <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>-->
        <!--<property name="url"-->
                  <!--value="jdbc:mysql://127.0.0.1:3306/hibernate_one2more?useUnicode=true&amp;characterEncoding=utf-8"></property>-->
        <!--<property name="username" value="root"></property>-->
        <!--<property name="password" value=""></property>-->
        <!--<property name="maxActive" value="50"></property>-->
        <!--<property name="maxIdle" value="15"></property>-->
        <!--<property name="minIdle" value="5"></property>-->
        <!--<property name="initialSize" value="5"></property>-->
        <!--<property name="timeBetweenEvictionRunsMillis" value="600000"></property>-->
        <!--<property name="minEvictableIdleTimeMillis" value="1800000"></property>-->
        <!--<property name="validationQuery" value="SELECT 1"></property>-->
        <!--<property name="testWhileIdle" value="true"></property>-->
        <!--<property name="testOnBorrow" value="false"></property>-->
        <!--<property name="testOnReturn" value="false"></property>-->
    <!--</bean>-->

    <!--<bean id="lazyConnectionDataSourceProxy" class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">-->
        <!--<property name="targetDataSource">-->
            <!--<ref local="basicDataSource"/>-->
        <!--</property>-->
    <!--</bean>-->

    <bean id="driverManagerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource ">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url"
                  value="jdbc:mysql://127.0.0.1:3306/hibernate_one2more?useUnicode=true&amp;characterEncoding=utf-8"></property>
        <property name="username" value="root"></property>
        <property name="password" value=""></property>
    </bean>

    <!--类似 JdbcTemplate-->
    <bean id="npJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg>
            <ref bean="driverManagerDataSource"/>
        </constructor-arg>
    </bean>

</beans>