<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubbo-demo-provider"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" client="zkclient"/>

    <dubbo:protocol id="dubbo" name="dubbo" port="60001" threadpool="cached" threads="100"/>

    <bean id="userService" class="morning.cat.service.impl.UserServiceImpl"/>
    <bean id="helloService" class="morning.cat.service.impl.HelloServiceImpl"/>


    <dubbo:service ref="userService" protocol="dubbo" interface="morning.cat.service.UserService"/>
    <dubbo:service ref="helloService" protocol="dubbo" interface="morning.cat.service.HelloService"/>

</beans>